#  ------------------------------------
#    HAX Configuration File 
#  ------------------------------------

# ----------- General Config 

## Socket TCP communication

IP_SERVER = "10.0.92.12"
TCP_PORT = 3040
RCV_BUFFER_SIZE = 2000
TX_DELAY = 0

## Logging definitions

DIRECTORY_LOG = "/opt/HAX/Control/Devices/Hardware/Mount/log/"


# ----------- GetPos Config - RingBuffer Shared Memory

## Shared Memory

GetPos_BackingFile = "HAX-GetPosRingBuffer"
GetPos_SemaphoreName = "HAX-GetPosSemaphore"
GetPos_AccessPerms = 0644


## Ring Buffer

RINGSIZE = 10
DATAFILENAME = "getposition_file.bin"  


# ------------ Operation Mode Config - for start_obs, stop_obs, pTrack, scan and skydip

## Shared Memory

OpMode_BackingFile = "HAX-OpModeBuffer"
OpMode_SemaphoreName = "HAX-OpModeSemaphore"
OpMode_AccessPerms = 0644

###### EOF ############################################################
